
@{
    ViewBag.Title = "Calendar";
}

<head>

    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
@section scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                defaultView: 'month',
                editable: false,
                allDaySlot: true,
                selectable: true,
                slotMinutes: 15,
                events: '/events/getevents/',
                eventClick: function (calEvent, jsEvent, view) {

                    //ViewBag.ID = event.id;
                    @*var url = '@Url.Action("Details", "Events"@*, new { id = ViewBag.ID})';
                    window.location.href = url;*@

                //eventClick: function (calEvent, jsEvent, view) {

                    alert('You clicked on event id: ' + calEvent.id
                        + "\nEvent Name: " + calEvent.title
                        + "\nDescription: " + calEvent.description),
                    $(this).css('border-color', 'red');
                },
                dayClick: function () {
                    var url = '@Url.Action("Create", "Events")';
                    window.location.href = url;
                }
            });
        });
    </script>
    }
   

</head>

<h2>Calendar</h2>

<div id="calendar"></div>
