
@{
    ViewBag.Title = "Calendar";
}

<head>

    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
@section scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
             
            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                // put your options and callbacks here
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                defaultView: 'month',
                editable: false,
                allDaySlot: true,
                selectable: true,
                slotMinutes: 15,
                events: '/events/getevents/',
                eventClick: function (calEvent, jsEvent, view) {
                    ViewBag.ID = calEvent.id;
                    var url = '@Url.Action("Detail", "Events", new { id = ViewBag.ID})';
                    window.location.href = url;

                //eventClick: function (calEvent, jsEvent, view) {
                    //alert('You clicked on event id: ' + calEvent.id
                    //    + "\nEvent Name: " + calEvent.title
                    //    + "\nDescription: " + calEvent.description)
                    //$(this).css('border-color', 'red');
                },
                dayClick: function () {
                    var url = '@Url.Action("Create", "Events")';
                    window.location.href = url;
                }

                //events: [
                //    {
                //        title: 'event1',
                //        start: '2017-09-01'
                //    },
                //    {
                //        title: 'event2',
                //        start: '2017-09-05',
                //        end: '2017-09-07'
                //    },
                //    {
                //        title: 'event3',
                //        start: '2017-09-09T12:30:00',
                //        allDay: false // will make the time show
                //    }
                //]
            });

        });
    </script>
    }
   

</head>

<h2>Calendar</h2>

<div id="calendar"></div>
